{% extends 'base.html.twig' %}

{% block body %}



<div class="row">
<div class="col-4">

</div>
<div class="col-4">

<h3>
<br>
<strong>
INICIA REGISTRO ENTRADA SALIDA
</strong>
</h3>
<br>

<br>
<p>El último registro insertado: <strong>{{ultima.fecha|date('d-m-Y')}} | {{ultima.accion}} | {{ultima.variedad}} | {{ultima.peso}}</strong> </p>
<br>
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</div>
<div class="col-4">

</div>

</div>





{% endblock %}
