{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cif</th>
                <th>Domicilio</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entidad in entidads %}
            <tr>
                <td><a href="{{ path('entidad_show', { 'id': entidad.id }) }}">{{ entidad.id }}</a></td>
                <td>{{ entidad.nombre }}</td>
                <td>{{ entidad.cif }}</td>
                <td>{{ entidad.domicilio }}</td>
                <td>{{ entidad.observacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entidad_show', { 'id': entidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entidad_edit', { 'id': entidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entidad_new') }}">Create a new entidad</a>
        </li>
    </ul>
{% endblock %}
