{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entidad.nombre }}</td>
            </tr>
            <tr>
                <th>Cif</th>
                <td>{{ entidad.cif }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entidad.domicilio }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entidad.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entidad_edit', { 'id': entidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
