{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-4">
<br>
<h1 class="page-header">Selecciona mes y año Colega:</h1>
{{form_start(form)}}
  <fieldset>
  <br>
  <div>
  <strong>{{ form_label(form.mes, 'Mes:') }}</strong><br>
  <span>{{ form_widget(form.mes) }}</span>
  </div>
  <div>
  <strong>{{ form_label(form.year, 'Ejercicio:') }}</strong><br>
  <span>{{ form_widget(form.year) }}</span>
  </div><br>
  </fieldset>
{{ form_end(form) }}
</div>
</div>


{% endblock %}
