{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alta.id }}</td>
            </tr>
            <tr>
                <th>Trabajador</th>
              <td>{{alta.nombre}}</td>
            </tr>
            <tr>
                <th>Mes</th>
              <td>{{alta.mes}}</td>
            </tr>
            <tr>
                <th>Año</th>
              <td>{{alta.ano}}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ alta.cantidad }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ alta.producto }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ alta.observacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('altas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('altas_edit', { 'id': alta.id }) }}">Edit</a>
        </li>
        <li>
            <p>El valor desastre vale {{desastre}}</p>
        </li>
    </ul>
{% endblock %}
