{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asignado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignado.id }}</td>
            </tr>
            <tr>
                <th>Trabajador</th>
                <td>{{ asignado.trabajador }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if asignado.fecha %}{{ asignado.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>{{ asignado.entidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('asignados_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('asignados_edit', { 'id': asignado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
