{% extends 'base.html.twig' %}
{% block body %}
<h2>Nombre: {{finca.nombre}}</h2>
<h2>Nombre: {{finca.superficieOlivar}}</h2>
<h2>Nombre: {{finca.superficieCalma}}</h2>
<h2>Nombre: {{finca.cultivoPrincipal}}</h2>

<h1><a href='{{ path('inicioFincas')}}'>Volver al inicio</a></h1>
{% endblock %}
