{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Precios</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mes</th>
                <th>Ano</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Nota</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for precio in precios %}
            <tr>
                <td><a href="{{ path('precios_show', { 'id': precio.id }) }}">{{ precio.id }}</a></td>
                <td>{{ precio.mes }}</td>
                <td>{{ precio.ano }}</td>
                <td>{{ precio.tipo.nombre }}</td>
                <td>{{ precio.valor }}</td>
                <td>{{ precio.nota[:8] }}...</td>
                <td>

                            <a href="{{ path('precios_show', { 'id': precio.id }) }}">show |</a>

                            <a href="{{ path('precios_edit', { 'id': precio.id }) }}"> edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('precios_new') }}">Create a new precio</a>
        </li>
    </ul>
{% endblock %}
