{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-4">
<h2 class="page-header">Añadir nuevo precio:</h2>
<hr>
{{form_start(form)}}
  <fieldset>
  <br>
  <div>
  <strong>{{ form_label(form.mes) }}</strong><br>
  <span>{{ form_widget(form.mes) }}</span>
  </div><br>
  <div>
  <strong>{{ form_label(form.ano, 'Ejercicio fiscal:') }}</strong><br>
  <span>{{ form_widget(form.ano) }}</span>
  </div><br>
  <div>
  <div>
  <strong>{{ form_label(form.tipo) }}</strong><br>
  <span>{{ form_widget(form.tipo) }}</span>
  </div><br>
  <div>
  <strong>{{ form_label(form.valor) }}</strong><br>
  <span>{{ form_widget(form.valor) }}</span>
  </div><br>
  <div>
  <strong>{{ form_label(form.nota) }}</strong><br>
  <span>{{ form_widget(form.nota) }}</span>
  </div><br>
  </fieldset>
  <input type="submit" value="Create" />
{{ form_end(form) }}
</div>
{% if error != 'TodoCorrecto' %}
<div class="col-4">
  <h3><strong>{{error}}</strong></h3>
</div>
{% endif %}
</div>

<br>
<ul>
    <li>
        <a href="{{ path('precios_index') }}">Back to the list</a>
    </li>
</ul>
{% endblock %}
