{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-4">
<h2>NUEVA FACTURA</h2>
<h2>EMISOR: <strong> {{emisor}} </strong> </h2>
<h2>RECEPTOR: <strong> {{receptor}} </strong> </h2>
<hr>
<h2>EJERCICIO: <strong> {{ejercicio}} </strong> </h2>
<h2>PERIODO: <strong> {{periodo}} </strong> </h2>
<hr>
<h2>RETENCION: <strong> {{retencion}} </strong> </h2>
<h2>PORCENTAJE: <strong> {{porcentaje}} </strong> </h2>
</div>
<div class="col-4">

<h2>NUMERO: Y FECHA</h2>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</div>
<div class="col-4">

</div>
</div>

{% endblock %}
