{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-4">
<h2>NUEVA FACTURA</h2>
<h2>EMISOR: <strong> {{entidad}} </strong> </h2>
<hr>
</div>
<div class="col-4">

<h2>NUEVA FACTURA</h2>
<h2>EMISOR: <strong> {{entidad}} </strong> </h2>
<hr>
<h1>Aqui esta la fecha y la entidad:  {{fecha|date('d-m-Y')}}  {{entidad}}</h1>
<hr>
<h1>Y la observacion es: {{observacion}}</h1>

</div>
<div class="col-4">

</div>
</div>

{% endblock %}
