{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
<div class="col-4">
<h2 class="page-header">Añadir nuevo trabajador:</h2>
{{form_start(form)}}
  <fieldset>
  <br>
  <div>
  <strong>{{ form_label(form.nombre) }}</strong><br>
  <span>{{ form_widget(form.nombre) }}</span>
  </div><br>
  <div>
  <strong>{{ form_label(form.dni) }}</strong><br>
  <span>{{ form_widget(form.dni) }}</span>
  </div><br>
  <div>
  <div>
  <strong>{{ form_label(form.observaciones) }}</strong><br>
  <span>{{ form_widget(form.observaciones) }}</span>
  </div><br>
  </fieldset>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
