{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-3">
      <div class="m-4">

        <h2 class="page-header">Add Parte de trabajo</h2>
        {{form_start(form)}}
        <fieldset>

          <br>
          <div>
          <strong>{{ form_label(form.trabajador) }}</strong><br>
          <span>{{ form_widget(form.trabajador) }}</span>
          </div>
          <div>
          <strong>{{ form_label(form.trabajo) }}</strong><br>
          <span>{{ form_widget(form.trabajo) }}</span>
          </div>
          <div>
          <strong>{{ form_label(form.tipo) }}</strong><br>
          <span>{{ form_widget(form.tipo) }}</span>
          </div>
          <div>
          <strong>{{ form_label(form.cantidad) }}</strong><br>
          <span>{{ form_widget(form.cantidad) }}</span>
          </div>
          <div>
          <strong>{{ form_label(form.finca) }}</strong><br>
          <span>{{ form_widget(form.finca) }}</span>
          </div>


          <div>
          <strong>{{ form_label(form.observacion) }}</strong><br>
          <span>{{ form_widget(form.observacion) }}</span><br>
          </div><br>
          </fieldset>
        {{ form_end(form) }}

      </div>
      <hr>
      <div class="m-4">
        <p><strong>SUBTOTALES:</strong></p>
        <p><strong>Dia en curso: {{fecha|date('d-m-Y')}}</strong></p>
        {% for cuadrilla in arrayCuadrilla %}
        <a href="{{ path('modCuadrilla_parte', { 'cuad': cuadrilla }) }}">
        <p><strong>Cuadrilla {{ cuadrilla }}: Peonadas: {{arrayPeonadas[cuadrilla]}}  Horas: {{arrayHoras[cuadrilla]}}</strong></p>
        </a>
        {% endfor %}
        <hr>
        <p><strong>TOTAL: Peonadas: {{totPeonadas}}  Horas: {{totHoras}}</strong></p>
      </div>
    </div>
    <div class="col-9">
      <div class="m-4">

      <h2 class="page header">Listado de Partes de trabajo: Día en curso( {{fecha|date('d-m-Y')}} )</h2>

      <h2> <a href="{{ path('partetrabajo_index', { 'dia': 'Anterior' }) }}">Día anterior </a>Cuadrilla:{{cuadrilla}}<a href="{{ path('partetrabajo_index', { 'dia': 'Siguiente' }) }}"> Día siguiente</a></h2>
      {% if prueba != 'Correcto' %}
        <h4 class="p-3 mb-2 bg-danger text-white">  Es la primera vez que el trabajador: <strong>{{prueba}}</strong> trabaja este mes!! </h4>
      {% endif %}

      {% if desastre != 'Correcto' %}
        <h4 class="p-3 mb-2 bg-danger text-white"> <strong> {{desastre}} </strong> </h4>
      {% endif %}

      <hr>
      {% if fechaCopiada == 'Ninguno' %}
      <h2> <a href="{{ path('partetrabajo_index', { 'dia': 'Copiar' }) }}"> COPIAR </a>({{fecha|date('d-m-Y')}}) || PEGAR(Ninguno)</h2>
      {% else %}
      <h2> <a href="{{ path('partetrabajo_index', { 'dia': 'Copiar' }) }}"> COPIAR </a>({{fecha|date('d-m-Y')}}) || <a href="{{ path('partetrabajo_index', { 'dia': 'Pegar' }) }}">PEGAR</a>({{fechaCopiada|date('d-m-Y')}})</h2>
      {% endif %}

      <table class="table table-striped table-sm">
      <thead>
      <tr>
      <th>ID</th>
      <th>FECHA</th>
      <th>TRABAJADOR</th>
      <th>TRABAJO</th>
      <th>TIPO</th>
      <th>CANTIDAD</th>
      <th>FINCA</th>
      <th>CUADRILLA</th>
      <th>PRODUCTO</th>
      <th>OBSERV</th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      {% for parteTrabajo in parteTrabajos %}
      <tr>
      <th scope="row">{{ parteTrabajo.id }}</th>
      <td>{{ parteTrabajo.fecha|date('d-m-Y') }}</td>
      <td>{{ parteTrabajo.trabajador.getNombre() }}</td>
      <td>{{ parteTrabajo.trabajo }}</td>
      <td>{{ parteTrabajo.tipo }}</td>
      <td>{{ parteTrabajo.cantidad }}</td>
      <td>{{ parteTrabajo.finca }}</td>
      <td>{{ parteTrabajo.cuadrilla }}</td>
      <td>{{ parteTrabajo.producto }}</td>
      {% if parteTrabajo.observacion == NULL %}
      <td>Vale NULL</td>
      {% else %}
      <td>HAY OBSERVACION</td>
      {% endif %}
      <td>

      <a href=" {{ path('partetrabajo_edit', { 'id': parteTrabajo.id , 'procede': 'PartesDeTrabajo' }) }}">Editar |</a>
      <a href="{{ path('partetrabajo_show', { 'id': parteTrabajo.id }) }}">Mostrar |</a>
      <a href="{{ path('partetrabajo_delete', { 'id': parteTrabajo.id }) }}">Eliminar</a>
      </td>
      </tr>
      {% endfor %}
      </tbody>
      </table>


      
    </div>
    </div>
  </div>
<hr>
<div class="row">
  <div class="col-3">
  <ul>
    <li>
      <a href="{{ path('inicio_parte') }}">Cambiar o introducir nuevo dia</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="{{ path('modCuadrilla_parte') }}">Cambiar o Introducir nueva cuadrilla</a>
    </li>
  </ul>
  </div>

  <div class="col-5">

  </div>
</div>
<hr>





{% endblock %}
