{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-6">
<h2>He recibido por parte de Hnos. Gallego Brenes el pago por mi trabajo realizado en el mes de {{mesPago}} de {{anoPago}}. Firmado: </h3>
<br>
<p>El numeroTrab es igual: {{numeroTrab}}</p>
<br>
{% set foo = 0 %}
  {% for key, parte in partes %}
     {% set foo = foo + 1 %}
        <h3>{{foo}} - {{key}} | Cheque sin: <strong> {{parte[0]}} | Cheque con: <strong>{{parte[1]}} | Cheque horas:<strong> {{parte[2]}}</h3>
        
        <br>
  {% endfor %}
</div>
<div class="col-6">


</div>
</div>

{% endblock %}
