{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-7">
<h2>He recibido por parte de Hnos. <strong>Gallego Brenes</strong> el pago por mi trabajo realizado en el mes de <strong>{{mesPago}}</strong> de <strong>{{anoPago}}</strong>. Firmado: </h3>
<br>
<p>El numeroTrab es igual: {{numeroTrab}}</p>
<br>
{% set foo = 0 %}
  {% for key, parte in partes %}
     {% set foo = foo + 1 %}
        <h3><strong>{{foo}}</strong> - {{key}} </h3>
        <h3>--- <strong> Sin: </strong>   {{parte[0]}} |<strong> Con: </strong>{{parte[1]}} | <strong>Horas:</strong> {{parte[2]}}</h3>
        <h3>--- Dias Trabajados: {{parte[3]}} -- Horas: {{parte[4]}} -- Altas: {{parte[5]}} </h3>

        <br>
  {% endfor %}
</div>
<div class="col-5">


</div>
</div>

{% endblock %}
