{% extends 'base.html.twig' %}

{% block body %}
Este es el bloque que queremos insertar
<br>
<a href="{{ path('insertaBloque', { 'opcion': 'CORRECTO'}) }}">Insertar |</a>
<br>
Nuero de bloques: {{cantidad}}
<br>
<ul>
{% for bloq in bloque %}
      <li> <strong> {{bloq.fecha|date('d-m-Y')}}</strong>| |{{bloq.clase}}| |{{bloq.entidad.nombre}}| |{{bloq.descripcion}}| | <strong> {{bloq.cantidad}}</strong>| |{{bloq.cuenta.numeracion}}</li>
{% endfor %}
</ul>
{% endblock %}
