{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vencimiento proceso</h1>

    {{form_start(form)}}
    <fieldset>

      <br>
      <div>
      <strong>{{ form_label(form.fecha) }}</strong><br>
      <span>{{ form_widget(form.fecha) }}</span>
      </div>
      <div>
      <strong>{{ form_label(form.clase) }}</strong><br>
      <span>{{ form_widget(form.clase) }}</span>
      </div>
      <div>
      <strong>{{ form_label(form.entidad) }}</strong><br>
      <span>{{ form_widget(form.entidad) }}</span>
      </div>
      <div>
      <strong>{{ form_label(form.descripcion) }}</strong><br>
      <span>{{ form_widget(form.descripcion) }}</span>
      </div>
      <div>
      <strong>{{ form_label(form.cantidad) }}</strong><br>
      <span>{{ form_widget(form.cantidad) }}</span>
      </div>
      <div>
      <strong>{{ form_label(form.estado) }}</strong><br>
      <span>{{ form_widget(form.estado) }}</span>
      </div>

      <div>
      <strong>{{ form_label(form.cuenta) }}</strong><br>
      <span>{{ form_widget(form.cuenta) }}</span><br>
      </div><br>

    
      </fieldset>
    {{ form_end(form) }}






{% endblock %}
