{% extends 'base.html.twig' %}

{% block body %}

Hola mundo VENCIMIENTOS!!
<br>
<div class="row">
  <div class="col-3">
  {{ form_start(form) }}
      {{ form_widget(form) }}
  {{ form_end(form) }}
  </div>
  <div class="col-9">
  <h2 class="p-3 mb-2 bg-warning text-dark border border-dark"> <strong> VENCIMIENTOS...</strong></h2>
  <h4> <a href="{{ path('vencimiento_pagados')}}">PAGADOS</a> ||Numero de registros sin pagar: {{desastre}}</h4>
  <table class="table table-striped table-sm">
  <thead>
  <tr>
  <th>ID</th>
  <th>FECHA</th>
  <th>CLASE</th>
  <th>ENTIDAD</th>
  <th>DESCRIP</th>
  <th>TOTAL</th>
  <th>CUENTA</th>
  <th>ESTADO</th>
  <th>OPCIONES</th>
  </tr>
  </thead>
  <tbody>
  {% for parte in vencimiento %}
  <tr>
  <th scope="row">{{ parte.id }}</th>
  <td>{{ parte.fecha|date('d-m-Y') }}</td>

  {% if parte.clase.nombre == 'Cuota Prestamo' %}
        <td><a href="{{ path('vencimiento_listar', { 'id': parte.id, 'opcion': 'Clase' }) }}" class="text-success">{{ parte.clase.nombre }}</a></td>
  {% else %}
        <td><a href="{{ path('vencimiento_listar', { 'id': parte.id, 'opcion': 'Clase' }) }}" >{{ parte.clase.nombre }}</a></td>
  {% endif %}


  <td>
  <a href="{{ path('vencimiento_listar', { 'id': parte.id, 'opcion': 'Entidad'}) }}">  {{ parte.entidad.nombre }}</a>
  </td>

{% if parte.clase.nombre == 'Cuota Prestamo'%}
    <td class="bg-success text-white">
      {{ parte.descripcion }}
    </td>
{% else %}
  <td >
   {{ parte.descripcion }}
  </td>
{% endif %}



  <td>{{ parte.cantidad }}</td>
  <td>{{ parte.cuenta.numeracion }}</td>
  <td>{{ parte.estado }}</td>
  <td>
  {% if parte.estado == 'Suspendido' %}
  <a href="{{ path('vencimiento_procesar', { 'id': parte.id, 'opcion': 'seDebe' }) }}">ACTIVAR</a>
  {% else %}
  <a href="{{ path('vencimiento_procesar', { 'id': parte.id, 'opcion': 'pagar' }) }}">Pagar |</a>
  <a href="{{ path('vencimiento_procesar', { 'id': parte.id, 'opcion': 'suspender' }) }}">Anular |</a>
  {% endif %}
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>

</div>


{% endblock %}
