{% extends 'base.html.twig' %}

{% block body %}
    <h1>Periodo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periodo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ periodo.nombre }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{% if periodo.fechaAlta %}{{ periodo.fechaAlta|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechabaja</th>
                <td>{% if periodo.fechaBaja %}{{ periodo.fechaBaja|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>{{ periodo.entidad }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ periodo.comentario }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('periodos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('periodos_edit', { 'id': periodo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
